@model ProjectCardModel

<div class="card">
    <div class="top">
        <img src="@Url.Content("~/images/project-image.svg")" width="56" height="56" class="project-image" />
        <h6 class="project-title">@Model.Title</h6>
        <span class="project-company">@Model.Company</span>
        <img src="@Url.Content("~/images/icons/more-dots.svg")" width="24" height="24" class="project-dots" />
    </div>
    <div class="description">
        <span class="description-text">@Model.Description</span>
    </div>
    <div class="bottom">
        <div class="duetime-container">
            <img src="@Url.Content("~/images/icons/clock.svg")" width="20" height="20" class="clock" />
            <span class="time-remaining">@Model.DueTime</span>
        </div>
        <div class="user-avatars">
            <img src="@Url.Content("~/images/icons/usericon.svg")" width="30" height="30" />
            <img src="@Url.Content("~/images/icons/usericon.svg")" width="30" height="30" />
        </div>
    </div>

</div>